# dependencies
node_modules/

# production
build/
dist/

# Next.js (for frontend folder)
.next/
out/

# Tauri
**/src-tauri/target/
**/src-tauri/Cargo.lock

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# typescript
*.tsbuildinfo
next-env.d.ts

# OS files
.DS_Store
Thumbs.db