.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: crosshair;
  touch-action: none;
  z-index: 10;
  pointer-events: auto;
}

.canvas.active {
  cursor: crosshair;
}
