.toolbar{
    height: var(--toolbar-height);
    background-color: var(--bg-toolbar);
    color : white;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    padding: 0 20px;

}
