.settingsPage-container{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 15px;
    width: 100%;
    height: 100%;
}

.settings-header{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 10px;
    border-bottom: 0.5px solid var(--border-color);
}

.back-btn{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    background:none;
    border:none;
    color:white;
    padding: 8px;
    border-radius: 5px;
    transition: color 0.5s ease;
    transition: background-color 0.5s ease;
}

.back-btn:hover{
    background-color: var(--bg-lighter-hover);
    color: var(--accent-primary-hover);

}

.settings-header p{
    font-size: 2rem;
    margin-inline: auto;
}

.settings-content-cont{
    border: 2px solid;
    margin-top: 25px;
    padding: 10px;
}

.settings-content-header p:nth-of-type(1) {
    font-size: 1.7rem;
    margin-bottom: 2px;
    font-weight: 900;
}

.settings-content-header p:nth-of-type(2) {
    font-size: 0.9rem;
    font-style: italic;
    color: grey;
}




