.settingsPage-container{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 15px;
    width: 100%;
    height: 100%;
}

.settings-header{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 10px;
    border-bottom: 0.5px solid var(--border-color);
}

.back-btn{
    font-size: 2rem;
    display: flex;
    align-items: center;
    background:none;
    border:none;
    color:white;
    padding: 8px;
    border-radius: 5px;
    transition: color 0.5s ease;
    transition: background-color 0.5s ease;
}

.back-btn:hover{
    background-color: var(--bg-lighter-hover);
    color: var(--accent-primary-hover);

}

.settings-header p{
    font-size: 3rem;
    margin-inline: auto;
}

