.sidebar {
  height: 100vh;
  background-color: var(--bg-lighter);
  color: white;
  display: flex;
  flex-direction: column;
  transition: width 0.5s ease;
  overflow: hidden; 
  white-space: nowrap; 
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.sidebar.open {
  width: var(--sidebar-width-open);
}

.sidebar.closed {
  width: var(--sidebar-width-closed);
}


.sidebar-header {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 0.5px solid var(--border-color);
}

.toggle-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  min-width: 30px; 
}
.toggle-btn:hover {
  color: var(--accent-primary-hover);
}

.logo-text {
  margin-left: 15px;
  font-weight: bold;
  font-size: 1.2rem;
  opacity: 1;
  transition: opacity 0.5s;
  font-style: italic;
}


.sidebar.closed .logo-text {
  opacity: 0;
}

.loading-notebooks {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  padding: 20px;
  color: grey;
}


.add-notebooks {
  padding: 10px 20px; 
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
  transition: opacity 0.5s ease, visibility 0.5s;
  opacity: 1;
  visibility: visible;
}

.sidebar.closed .add-notebooks {
  opacity: 0;
  visibility: hidden;      
  pointer-events: none;    
  height: 0;               
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

.add-notebooks span {
  font-size: 0.8rem;
  white-space: nowrap; 
  transition: color 0.3s ease;
}

.add-notebook-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.add-notebook-btn:hover {
  color: var(--accent-primary-hover);
}

.add-notebooks:has(.add-notebook-btn:hover) span {
    color: var(--accent-primary-hover);
}



.notebooks-container{
  padding: 15px;

}

.notebook-cont{
  margin-bottom: 10px;
}
.notebook-item{
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}

.notebook-item-title{
  margin-left: 8px;
}

.sidebar.open .notebook-item {
  padding-left: 10px;
}

.sidebar.closed .notebook-item {
  justify-content: center;
}

.sidebar.closed .notebook-item-title {
  display: none;
}

.sections-container{
  margin-left: 15px;
  margin-top: 8px;
}

.sidebar.closed .sections-container {
  display: none;
}

.sections-container{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.section-title{
  padding-left: 10px;
  border-left: 6px solid;
  border-radius: 5px;
  margin-left: 4px;
  cursor: pointer;
  margin-bottom: 5px;
}

.add-section-btn{
  display: flex;
  align-items: center;
  gap: 5px;
}

.add-section-btn:hover {
  color: var(--accent-primary-hover);
  cursor: pointer;
}

.pages-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  gap: 6px;
}


.add-page-btn{
  display: flex;
  align-items: center;
  gap: 5px;
}

.add-page-btn:hover {
  color: var(--accent-primary-hover);
  cursor: pointer;
}


